.banner {
    background-image: url(/assets/images/banner.jpg);
    width: 70%;
    height: 700px;
    background-size: cover;
    position: absolute;
    top: 0;
}

.banner-container {
    width: 100%;
    height: 700px;
    padding: 20px 50px;
    background-image: url(/assets/images/banner-bg.webp);
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 100%;
    padding-left: 1%;
    padding-right: 1%;
}